@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
.rule-container {
  width: 50%;
  background: #fff;
  margin: 15px auto;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;

  @media screen and (max-width: 480px) {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .header {
    display: flex;
    height: 50px;
    background: #224732;
    color: #fff;
    cursor: pointer;
    @include transition(0.3s all ease);
    &:hover{
      background: lighten(#224732,5%);
    }
    .header-id {
      height: inherit;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      background: #88A34F;
    }
    .header-title {
      height: inherit;
      display: flex;
      flex: 10;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
  }
  .content {
    width: 80%;
    margin: 0 auto;
    max-height: 300px;
    @include transition(0.3s all ease);
    .content-body {
      margin: 10px;
      padding-top: 10px;
      display: flex;
      flex-flow: column;
      span {
        font-size: 0.8rem;
        font-weight: 600;
      }
      p {
        background: #f3f3f3;
        padding: 10px;
      }
    }
    .content-validation {
      display: flex;
      margin: 10px;
      .content-valid {
        padding-right: 10px;
        p {
          background: #88A34F
        }
      }
      .content-invalid {
        padding-left: 10px;
        p {
          background: #ec544e;
        }
      }
      .content-valid, .content-invalid {
        display: flex;
        flex-flow: column;
        flex: 1;
        span {
          font-size: 0.8rem;
          font-weight: 600;
        }
        p {
          padding: 10px;
          text-align: center;
          color: #fff;
        }
      }
    }
    &.hide {
      max-height: 0;
      margin-top: -20px;
    }
  }
  &.red {
    .header {
      background: #BF352F;
      &:hover{
        background: lighten(#BF352F,5%);
      }
    }
    .header-id {
      background: #ec544e;
    }
  }
}

